MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-this-local-password

Minio__Endpoint=localhost:9000
Minio__AccessKey=minioadmin
Minio__SecretKey=change-this-local-password
Minio__BucketName=library-books
Minio__UseSsl=false
